*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    display: flex;
    border: solid 1px blue;
}

.boxz {
 border: solid 1px red;

}

.bolota{
    width: 200px;
    height: 200px;
    border-radius: 200px;
    background-color: rgb(243, 120, 141);
    display: flex;
    align-items: center;
    justify-content: center;
}
.bolota p {
 font-size: 45px;
 color: white;
 font-style: oblique;

}
.casquinha {
 width: 30%;
 font-style: oblique;

}

.cascas {
    display: flex;
    justify-content: center;
}
.cascas p { 
    color: white;
    font-size: 50px;
    
}

.picole {
    display: flex;
    justify-content: center;
    width: 40%;
    font-style: oblique;
}
.picole p {
color: white;
font-size: 50px;
}

.smoothies {
display: flex;
justify-content: center;
width: 50%;
font-style: oblique;
}
.Smoothies p { 
    color: white;
    font-size: 50px;
}

.casquinha .morangudo img{
  height: 90px;
 width: 70px;
}
.casquinha  .morangudo {
   display: flex;
   align-items: center;
   color: white;
   
}
.casquinha .morangudo p { 
    font-size: 27px;
}
.casquinha .tutitrufado img {
    height: 90px;
    width: 45px;
}
.casquinha .tutitrufado { 
    display: flex;
    align-items: center;
    color: white;
}
.casquinha .tutitrufado p {
    font-size: 27px;
}
.casquinha .Hortvete img{
    height: 90px;
    width: 60px;
}
.casquinha .Hortvete p {
    font-size: 27px;
}
.casquinha .Hortvete {
    display: flex;
    align-items: center;
    color: white;
}
.casquinha .Chocobauni img {
    height: 90px;
    width: 35px;
}
.casquinha .Chocobauni p {
    font-size: 27px;
}
.casquinha .Chocobauni {
    display: flex;
    align-items: center;
    color: white;
}
.casquinha .Barrytilo img {
    height: 90px;
    width: 45px;
}
.casquinha .Barrytilo p {
    font-size: 27px;
}
.casquinha .Barrytilo {
    display: flex;
    align-items: center;
    color: white;
}
.casquinha .Cherrylady img {
    height: 90px;
    width: 55px;
}
.casquinha .Cherrylady p {
    font-size: 27px;
}
.casquinha .Cherrylady {
    display: flex;
    align-items: center;
    color: white;
}
.menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 60px;
}

.menu-picole {
    display: flex;
    border: solid 1px red ;
    flex-direction: column;
    width: 30%;
    /* justify-content: center; */
}
   
.menu-picole .Pikiwi img {
    height: 70px;
    width: 40px;

}
.menu-picole .picole {
    display: flex;
    width: 100%;
    font-size: 27px;
    border: solid 1px black;
}
.menu-picole .Pikiwi {
    display: flex;
 font-size: 27px;
    align-items: center;
    color: white;
}
.menu-picole .Mangole img {
    height: 70px;
    width: 40px;
}
.menu-picole .Mangole {
    display: flex;
    font-size: 27px;
    align-items: center;
    color: white;
}
.menu-picole .Moranguete img {
    height: 70px;
    width: 40px;
}
.menu-picole .Moranguete {
    display: flex;
    font-size: 27px;
    align-items: center;
    color: white;
}
.menu-picole .CeuAzul img {
    height: 70px;
    width: 40px;
}
.menu-picole .CeuAzul {
    display: flex;
    font-size: 27px;
    align-items: center;
    color: white;
}